@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7f1ee;
    font-family: 'Roboto', sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  .row {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1200px;
  }
  
  h2 {
    font-size: 32px;
    text-align: center;
  }

  img {
    width: 100%;
  }

nav {
    height: 80px;
    display: flex;
}

ul {
    display: flex;
  }
  
li {
    list-style-type: none;
    display: list-item;
    text-align: -webkit-match-parent;
}

a {
    text-decoration: none !important;
  }

.container {
  padding: 80px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.red {
    color: #e20f0f;
}

.nav__container {
    width: 100%;
  max-width: 1200px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav__logo {
    max-width: 70px;
    max-height: 70px;
}

.nav__links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__link {
    margin: 0 20px;
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.link__hover--effect {
  position: relative;
}

.link__hover--effect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  right: 0;
  width: 0;
  transition: all 300ms ease;
  background-color: black;
}

.link__hover--effect:hover:after {
  left: 0;
  width: 100%;
}

nav,
.scroll,
.header {
  opacity: 1;
  /* visibility: visible; */
  transition: all 600ms 600ms;
}

.btn__contact {
    display: flex;
    cursor: pointer;
    padding: 12px 40px;
    align-items: center;
    border: 2px #36353c;
    border-radius: 50px;
    background-color: #e20f0f;
    color: #fff!important;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 300ms ease;
    max-height: 48px;
    min-height: 20px;

}

.btn__contact:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 30px 0 rgb(0 0 0 / 30%);
}

.nav__logo {
  animation: spin 8s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/*

LANDING

*/

header {
    height: calc(100vh - 80px);
  }

  .header__container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__h1{
    font-size: 56px;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 12px;
    animation: fade-up 650ms 400ms backwards;
  }

  .header__h2 {
    font-size: 32px;
    margin-bottom: 32px;
    text-align: center;
    animation: fade-up 650ms 600ms backwards;
  }

  @keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

  .search__container {
    width: 100%;
    display: flex;
  }

  .search__container--landing {
    animation: fade-up 650ms 800ms backwards;
  }
  
  .search__input {
    background-color: #fff;
    border-radius: 20px;
    border: none;
    color: #0a1f44;
    display: inline-block;
    height: 70px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    transition:  all 300ms ease;
    width: 100%;
    font-size: 24px;
    padding-left: 25px;
    box-shadow: 0 12px 30px 0 rgb(0 0 0 / 30%);
  }

  .search__input:focus {
    border-color: #e20f0f;
  }

  .fa-magnifying-glass {
    background-color: #e20f0f;
    transition: all 300ms ease;
  }

  .fa-spinner {
    background-color: black;
    transition : all 300ms ease;
  }

  .search__btn {
    background-color: #e20f0f;
    transition: all 300ms ease;
    cursor: pointer;
    width: 200px;
    height: 70px;
    margin-left: 20px;
    font-size: 40px;
    color: #fff;
    border-radius: 20px;
    border: none;
    box-shadow: 0 12px 30px 0 rgb(0 0 0 / 30%);
}

  .search__btn:hover {
    background-color: #000000;
  }

  .search__btn:hover i{
    background-color: black;
    color: white;
  }

  .loading {
    background-color: black;
    transition: all 300ms ease;
  }

  .header__img--wrapper {
    z-index: 50;
    width: 650px;
    margin: 0 auto;
    margin-top: 60px;
    animation: fade-in 1200ms 800ms backwards;
  }

  @keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

  .header__img {
    width: 100%;
  }


  /*

  MOVIE

  */

  .btn__back {
    background-color: #e20f0f;
    cursor: pointer;
    margin-left: 20px;
    font-size: 18px;
    color: #fff;
    border-radius: 16px;
    transition: all .30s ease;
    border: none;
    font-weight: 500;
    padding: 12px 0;
    width: 140px;
  }

  .btn__back:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 30px 0 rgb(0 0 0 / 30%);
  }

  .fa-arrow-left {
    background-color: #e20f0f;
    transition: all 300ms ease;
    opacity: 0;
    width: 0%;
  }

  .btn__back:hover .fa-arrow-left {
    opacity: 1;
    width: 30%;
  }

  .search__container--movie {
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }

  .search__input--movie {
    max-width: 50%;
  }

  .filter__heading {
    background-image: linear-gradient(to right, #ff0000, #ff8d2a, #ff0000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    animation: gradient 5s ease-in-out infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-image: linear-gradient(to right, #8d2aff, #0000ff, #8d2aff);
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .movie__list {
    flex-wrap: wrap;
    display: flex;
  }

  .movie {
    width: 28%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
  }

.movie__description {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 16px;
    width: 100%;
    margin-left: 20px;
    text-align: left !important;
  }

  .movie__img {
    width: 100%;
    height: 100%;
    min-width: 220px;
    height: 540px;
    object-fit: cover;
    border-radius: 5px;
    transition: all .25s ease;
  }

  .movie__title {
    font-size: 24px;
    font-weight: 500;
  }

  .movie__para {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 2px;
  }

  select {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    color: #606266;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 16px;
    width: 100%;
    max-width: 200px;
    font-size: 16px;
  }

  .filter__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    margin-bottom: 40px;
  }


  /*

  movie details

  */

  .movie__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
  }

  .movie__details--title {
    font-size: 48px;
    text-align: center;
    margin: 24px 0;
  }

  .movie__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .img__title--wrapper {
    width: 50%;
  }

  .movie__img--wrapper {
    margin: 0 auto;
    width: 350px;
    height: 540px;
    cursor: pointer;
    transition: all 300ms ease;
  }

  .movie__img--wrapper:hover {
    transform: scale(1.05);
    box-shadow: 0 0px 16px 0 rgb(0 0 0 / 60%);
  }

  .movie__details--img {
    width: 100%;
    height: 100%;
    min-width: 220px;
    min-height: 400px;
    object-fit: cover;
    border-radius: 5px;
    transition: all .25s ease;
  }

  .movie__details--description {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: 20px;
  }

  .highlight {
    font-size: 24px;
}

.color {
  color: #e20f0f;
}

.movie__description--para {
  margin-top: 16px;
  font-size: 20px;
  font: 400;
}

.similar__movies--wrapper {
  margin-top: 72px;
}

.more__title {
  font-size: 48px;
  text-align: left !important;
  margin-bottom: 24px;
}